<section class="gray-section" style="margin-top: 0px;">
    <div class="row">
      <div class="navy-line"></div>
      <div class="col-md-4">
        <div class="vote-item"><a href="#">Tentang CMS</a></div>
        <div class="vote-item"><a href="#">Tim Kami</a></div>
        <div class="vote-item"><a href="#">Kontak</a></div>
        <div class="vote-item"><a href="#">FAQ</a></div>
        <div class="vote-item"><a href="#">Kebijakan Privasi</a></div>
      </div>
      <div class="col-md-4 text-center">
      <ul class="list-inline social-buttons">
        <li><a href="https://twitter.com/wikimediaid"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/wikimedia.indonesia"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UCYcchZfFm34fcFbP-XT5MSw"><i class="fa fa-youtube-play"></i></a></li>
      </ul>
      </div>
      <div class="col-md-4 text-center">
        <span class="copyright"><a href="http://creativecommons.or.id/" style="color:#166df0;">CC-BY-NC 4.0</a></span>
      </div>
  	</div>
</section>
