---
title: Blog
layout: blog
---

<div class="container">

	<div class="row">
	    <div class="col-lg-12 text-center">
		<div class="navy-line"></div>
		<h1>Blog</h1>
	    </div>
	</div>

	<div class="row m-b-lg">
		<div class="col-sm-3 col-sm-push-9">
			
			<div class="panel-group" id="accordion">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
						Blog Cipta Media Seluler</a>
						</h4>
					</div>
					<div id="collapse1" class="panel-collapse collapse in">
						<div class="panel-body">
							<a href="/berita/"><button class="btn btn-white" type="button">Berita</button></a><br/>
							<a href="/inspirasi/"><button class="btn btn-white" type="button">Inspirasi</button></a><br/>
							<a href="/kajian/"><button class="btn btn-white" type="button">Kajian</button></a><br/>
							<a href="/gagasan/"><button class="btn btn-white" type="button">Gagasan</button></a><br/>
							<a href="/inovasi/"><button class="btn btn-white" type="button">Inovasi</button></a><br/>
							<a href="/tutorial/"><button class="btn btn-white" type="button">Tutorial</button></a>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
						Blog Cipta Media Bersama</a>
						</h4>
					</div>
					<div id="collapse2" class="panel-collapse collapse in">
						<div class="panel-body">
							<a href="/acara/"><button class="btn btn-white" type="button">Acara</button></a><br/>
							<a href="/teladan/"><button class="btn btn-white" type="button">Teladan</button></a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="col-sm-9 col-sm-pull-3">
			{% for post in site.posts limit:10 %}
			<div class="col-md-12">
				<div class="row">
					<div class="col-sm-4">
						<img src="{{ post.img }}" class="img-responsive center-block" style="max-height:140px">
					</div>
					<div class="col-sm-8">
						<a href="{{ post.url | prepend: site.baseurl }}"><h3>{{ post.title }}</h3></a>
						<i class="fa fa-clock-o"></i> <a>{{ post.date | date: "%-d %b %Y" }}</a>
						<p>{{ post.content | strip_html | truncatewords:30 }}</p>
						<div class="row">
							<div class="col-sm-12">
								{% for tag in post.tags %}
								<button class="btn btn-white btn-xs" type="button">{{ tag }}</button>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<hr>
			</div>
			{% endfor %}
		</div>
	</div>

</div>
